<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.css"
    integrity="sha512-949FvIQOibfhLTgmNws4F3DVlYz3FmCRRhJznR22hx76SKkcpZiVV5Kwo0iwK9L6BFuY+6mpdqB2+vDIGVuyHg=="
    crossorigin="anonymous" />

<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Students</h3>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>Student Admit Form</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <!-- Admit Form Area Start Here -->
    <div class="card height-auto">
        <div class="card-body">
            <div class="heading-layout1">
                <div class="item-title">
                    <h3>Add New Students</h3>
                </div>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                        aria-expanded="false">...</a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="fas fa-times text-orange-red"></i>Close</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-cogs text-dark-pastel-green"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-redo-alt text-orange-peel"></i>Refresh</a>
                    </div>
                </div>
            </div>
            <form class="new-added-form" name="registration">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>First Name *</label>
                        <input required type="text" id="fname" name="fname" placeholder="" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Last Name *</label>
                        <input required type="text" id="lname" name="lname" placeholder="" class="form-control">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Gender *</label>
                        <select class="select2" id="gender" name="gender">
                            <option value="">Please Select Gender *</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="others">Others</option>
                        </select>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Date Of Birth *</label>
                        <input required type="text" id="dob" name="dob" placeholder="dd/mm/yyyy"
                            class="form-control air-datepicker" data-position='bottom right'>
                        <i class="far fa-calendar-alt"></i>
                    </div>

                    {{!-- <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Blood Group *</label>
                        <select class="select2">
                            <option value="">Please Select Group *</option>
                            <option value="1">A+</option>
                            <option value="2">A-</option>
                            <option value="3">B+</option>
                            <option value="3">B-</option>
                            <option value="3">O+</option>
                            <option value="3">O-</option>
                        </select>
                    </div> --}}

                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>E-Mail</label>
                        <input required type="email" id="email" name="email" placeholder="" class="form-control">
                    </div>


                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Admission ID</label>
                        <input type="text" id="admissionNum" name="admissionNum" value="{{admissionNum}}"
                            class="form-control" readonly="readonly">
                    </div>
                    <div class="col-xl-3 col-lg-6 col-12 form-group">
                        <label>Phone</label>
                        <input required type="text" id="phone" placeholder="" name="phone" class="form-control">
                    </div>
                    {{!-- <div class="col-lg-6 col-12 form-group">
                        <label>Short BIO</label>
                        <textarea class="textarea form-control" name="message" id="form-message" cols="10"
                            rows="9"></textarea>
                    </div> --}}
                    <div class="col-lg-6 col-12 form-group mg-t-30">
                        <label class="text-dark-medium">Upload Student Photo (150px X 150px)</label>
                        <a onclick="popUpUpload()" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Choose
                            Image</a>
                    </div>
                    <div class="progress-outer text-center col-md-10" id="progressContainer" style="display: none;">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-info" id="progress"
                                style="width:0;">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 form-group mg-t-8">
                        <a onclick="submitForm()" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Save</a>
                        <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div>

    </div>
    <!-- Admit Form Area End Here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.12.0/dist/sweetalert2.all.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script>
        let cropData;
        let popUpUpload = async function () {
            const { value: file } = await swal.fire({
                title: 'upload Image',
                input: 'file',
                inputAttributes: {
                    'accept': 'image/*',
                    'aria-label': 'Upload your profile picture'
                },
                showCancelButton: true,
                confirmButtonText: 'UPLOAD',
                preConfirm: () => {
                    setTimeout(initCrop, 1000);
                }
            })
            if (file) {
                readURL(file)
            }
        }

        var cropper;
        let imgurl;

        function readURL(input) {
            if (input) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result)
                };
                reader.readAsDataURL(input);
                swal.fire({
                    title: 'crop',
                    html: "<div class='cropper__div'><img id='blah' id='cropping__area' src='#' alt='your image' /></div>",
                    showCancelButton: true,
                    confirmButtonText: 'CROP',
                    showLoaderOnConfirm: true,
                    allowOutsideClick: false,
                    preConfirm: () => {
                        imgurl = cropper.getCroppedCanvas().toDataURL()
                        console.log(imgurl)
                        Swal.fire({
                            title: 'Cropped!',
                            text: 'Student Profile Picture',
                            imageUrl: imgurl,
                            imageWidth: 400,
                            imageHeight: 400,
                            imageAlt: 'Cropped Image',
                        })
                        console.log('imageurl: ' + imgurl)

                    }
                })
            }
        }



        let submitForm = function () {
            console.log('called')
            let fname = document.getElementById('fname').value
            let lname = document.getElementById('lname').value
            let gender = document.getElementById('gender').value
            let dob = document.getElementById('dob').value
            let email = document.getElementById('email').value
            let admissionNum = document.getElementById('admissionNum').value
            let phone = document.getElementById('phone').value
            console.log(fname, lname)
            let formData = new FormData();
            var profileImg = imgurl

            formData.append('profile', profileImg);
            formData.append('fname', fname)
            formData.append('lname', lname)
            formData.append('gender', gender)
            formData.append('dob', dob)
            formData.append('email', email)
            formData.append('admissionNum', admissionNum)
            formData.append('phone', phone)
            console.log(formData)

            var xhr = new XMLHttpRequest();
            let progress = document.getElementById('progress')
            document.getElementById('progressContainer').style.display = 'block'

            //  url upload
            xhr.open('post', '/tutor/admission', true);


            xhr.upload.onprogress = function (e) {
                if (e.lengthComputable) {
                    var percentage = (e.loaded / e.total) * 100;
                    console.log(percentage + "%");
                    progress.style.width = percentage + '%'
                    if (percentage == 100) {

                        Swal.fire(
                            'Uploaded!',
                            'Announcement uploaded succesfully',
                            'success'
                        ).then(() => {

                            location.href = '/tutor/all-students'
                        })

                    }
                }
            };

            xhr.onerror = function (e) {
                console.log('Error');
                console.log(e);
            };
            xhr.onload = function () {
                console.log(this.statusText);
            };

            xhr.send(formData);


        }




        function initCrop() {
            console.log('intiCrop')
            var image = document.getElementById('blah');
            cropper = new Cropper(image, {
                aspectRatio: 1 / 1,
                viewMode: 2,
                dragMode: 'move',
                allowOutsideClick: false,
                crop: function (e) {
                    cropData = e.detail
                    console.log(e.detail.y);
                }
            });
        }




        function initCropper() {
            var image = document.getElementById('blah');
            var cropper = new Cropper(image, {
                aspectRatio: 1 / 1,
                viewMode: 2,
                dragMode: 'move',
                crop: function (e) {
                    console.log(e.detail.x);
                    console.log(e.detail.y);
                }
            });
        }

        // On crop button clicked
        /*document.getElementById('crop_button').addEventListener('click', function () {
            var imgurl = cropper.getCroppedCanvas().toDataURL();
            var img = document.createElement("img");
            img.src = imgurl;
            document.getElementById("cropped_result").appendChild(img);

        }*/



    </script>