<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>{{title}}</h3>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>{{title}}</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <div class="row">
        <!-- Dashboard summery Start Here -->
        <div class="col-12 col-4-xxxl">
            <div class="row">
                <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-magenta">
                            <i class="flaticon-calendar text-magenta"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span >26</span></div>
                            <div class="item-title">Total Class</div>
                        </div>
                    </div>
                </div>
                <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-blue">
                            <i class="flaticon-shopping-list text-blue"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span class="text-success counter" data-num="15">15</span></div>
                            <div class="item-title">Present</div>
                        </div>
                    </div>
                </div>
                <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-yellow">
                            <i class="flaticon-download text-orange"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span class="counter text-danger" data-num="16">16</span></div>
                            <div class="item-title">Absent</div>
                        </div>
                    </div>
                </div>
                <div class="col-6-xxxl col-lg-3 col-sm-6 col-12">
                    <div class="dashboard-summery-two">
                        <div class="item-icon bg-light-red">
                            <i class="flaticon-open-book text-red"></i>
                        </div>
                        <div class="item-content">
                            <div class="item-number"><span></span><span class="counter"
                                    data-num="52">52</span>%</div>
                            <div class="item-title">Present percentage</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard summery End Here -->
        <!-- Students Chart End Here -->
        <div class="col-lg-6 col-4-xxxl col-xl-6">
                        <div class="card dashboard-card-three">
                            <div class="card-body">
                                <div class="heading-layout1">
                                    <div class="item-title">
                                        <h3>Students</h3>
                                    </div>
                                   
                                </div>
                                <div class="doughnut-chart-wrap">
                                    <canvas id="student-doughnut-chart" width="100" height="270"></canvas>
                                </div>
                                <div class="student-report">
                                    <div class="student-count pseudo-bg-green">
                                        <h4 class="item-title">Present</h4>
                                        <div class="item-number">15</div>
                                    </div>
                                    <div class="student-count pseudo-bg-red" >
                                        <h4 class="item-title">Absent</h4>
                                        <div class="item-number">16</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        <!-- Students Chart End Here -->
        
                
        
    </div>
    

