<div class="dashboard-content-one">
    <!-- Breadcubs Area Start Here -->
    <div class="breadcrumbs-area">
        <h3>Student Attendence</h3>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>Attendence</li>
        </ul>
    </div>
    <!-- Breadcubs Area End Here -->
    <div class="row">
        <!-- Student Attendence Search Area Start Here -->

        <!-- Student Attendence Search Area End Here -->
        <!-- Student Attendence Area Start Here -->
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center text-success">You have successfully purchased the ticket</h1>
                    <h3>Your ticket no is : # {{ticket}}</h3>
                </div>
            </div>
        </div>
    </div>