<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->
<!-- Login Page Start Here -->
<div class="login-page-wrap">
    <div class="login-page-content">
        <div class="login-box">
            <div class="item-logo">
                <img src="/img/logo2.png" alt="logo">
            </div>
            <h3 class="text-center">Create A New Password</h3>
            <form action="/register" method="POST" class="login-form">


                <div class="form-group">
                    <label>Create Password</label>
                    <input type="password" name="password" placeholder="Create password" class="form-control">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-group">
                    <button type="submit" class="login-btn">Register</button>
                </div>
            </form>

        </div>
    </div>